.ember-multi-input {
  width: 100%;
  .inputs-group {
    display: inline-block;
    .input-value {
      display: inline-block;
      background-color: #fff;
      border: 1px solid #64bae8;
      border-radius: 6px;
      padding: 3px 8px;
      font-size: 12px;
      color: black;
      line-height: 18px;
      font-weight: normal;
      .delete-input { cursor: pointer; }
      .delete-input:not(:hover) {
        opacity: .5;
      }
    }
  }
  .input-wrapper {
    input { -webkit-appearance:none; }
    display: inline-block;
  }
  .error-message {
    padding-top: 5px;
    font-size: 12px;
    padding-left: 15px;
    color: #959595;
    font-style: italic;
    transition: all .5s;
    &.live-error {
      color: #f41b1b;
      transition: all .5s;
    }
  }
}