<h2 id="title">Ember-multi-input</h2>
{{multi-input
  inputGroup=inputs3
  validation=(action 'validation')
  type="email"
  uniqness=true
  max=max
  onEnter=true
  onSpace=true
  onAction=false
  clearOnBlur=false
  alwaysShowPlaceholder=false
  placeholder='placehoder1'
  mustValidate=true
}}